@charset "utf-8";
@import url('reset.css');
@import url('common.css');
@import url('common.scss');

/* --main_visual -- */
.inner {
    width: var(--responsive-width);
    margin: 0 auto;
}

/* --reservation -- */
select option[value=""][disabled] {
    display: none;
}

option {
    color: #333333;
    font-weight: bold;
}

select:invalid {
    color: #737373;
    font-weight: bold;
}

input[type='date']::before {
    content: attr(data-placeholder);
}

input[type='date']:focus::before,
input[type='date']:valid::before {
    display: none;
}

.reservation {
    max-width: var(--max-width);
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
    border-radius: 20px 20px 0 0;
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    overflow: scroll;
    padding-bottom: 50px;

    .cont {
        max-width: var(--max-width);
        width: var(--responsive-width);
        margin: 0 auto;
        padding: 20px 0 50px;

        .input {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .calendar .box {
                width: 100%;
                height: 50px;
                border: none;
                padding: 0 15px;
                font-family: var(--font);
                font-size: 2rem;
                border-radius: 10px;
                display: flex;
                justify-content: space-between;
                background-color: white;
                align-items: center;

                h3 {
                    font-weight: bold;
                    color: #737373;
                    padding-left: 3px;
                }
            }

            .comment {
                width: 100%;
                border: none;
                padding: 15px 15px 305px 18px;
                font-weight: bold;
                color: #737373;
                font-family: var(--font);
                font-size: 2rem;
                border-radius: 10px;
            }

            .text {
                display: flex;
                gap: 5px;

                h1 {
                    font-size: 1.8rem;
                    color: #737373;
                }
            }

            .btn {
                width: 100%;
                height: 50px;
                text-align: center;
                background-color: var(--color-point-light);
                color: white;
                border-radius: 10px;
                font-size: 2rem;
                line-height: 50px;

                a {
                    display: block;
                }
            }

            .calendar {
                .datepicker {
                    width: 100%;
                    box-shadow: 0 5px 10px 0 rgba(#000, .1);
                    padding: 2.85rem;
                    border-radius: 0 0 20px 20px;
                    background-color: white;
                    display: none;

                    .datepicker-top {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 25px;
                        position: relative;
                        color: var(--color-point-text);

                    }

                    .month-selector {
                        display: flex;
                        justify-content: space-between;
                        width: 80%;
                        margin: 0 auto;
                        align-items: center;
                        position: relative;

                        .material-icons {
                            position: absolute;
                            left: -999999px;
                        }

                        span {
                            font-size: 1.4rem;
                        }

                        .arrow-left {
                            &::before {
                                content: '';
                                width: 20px;
                                height: 20px;
                                background: url(../img/icon/left.png) center / cover no-repeat;
                                position: absolute;
                                top: 50%;
                                left: 0;
                                transform: translate(0, -50%);
                            }
                        }

                        .arrow-right {
                            &::before {
                                content: '';
                                width: 20px;
                                height: 20px;
                                background: url(../img/icon/right.png) center / cover no-repeat;
                                position: absolute;
                                top: 50%;
                                right: 0;
                                transform: translate(0, -50%);
                            }
                        }
                    }

                    .datepicker-calendar {
                        display: grid;
                        grid-template-columns: repeat(7, 1fr);
                        grid-row-gap: 2.85rem;

                        .day {
                            justify-self: center;
                            color: #7E818C;
                            font-size: 1.43rem;
                        }

                        .date {
                            justify-self: center;
                            color: var(--color-point-text);
                            font-size: 2rem;
                        }

                        .faded {
                            color: #aaaebd;
                        }

                    }
                }

                &.on {
                    .box {
                        border-radius: 10px 10px 0 0;
                    }

                    .datepicker {
                        display: block;
                    }
                }
            }
        }
    }
    .selectbox {
        width: 100%;
        border-radius: 10px;
        background-color: white;
        .toggle-btn {
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 15px;
            span {
                font-weight: bold;
                color: #737373;
                padding-left: 3px;
                font-size: 18px;
                font-family: var(--font);
            }
            figure {
                width: 2rem;
                height: 2rem;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .upicon {
                display: none;
            }
        }
        .selectbox-option {
            width: 85%;
            background-color: white;
            padding: 1rem 30px;
            margin-top: 2px;
            border-radius: 0 0 20px 20px;
            position: relative;
            z-index: 999;
            display: none;
            li {
                .option-btn {
                    font-size: 1.8rem;
                    font-weight: bold;
                }
                &:last-child .option-btn {
                    padding-top: 1rem;
                    &::after {
                        content: '';
                        width: 90%;
                        height: 1px;
                        border: 1px #bebebe dashed;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
            
        }

    }
}

/* -- main_visual */
.main_visual {
    background-color: var(--color-point);
    max-width: var(--max-width);
    width: 100%;

    .inner {
        padding-top: 20px;

        .myhospital {
            height: 4rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .txtbox {
                width: 90%;
                height: 100%;
                display: flex;
                line-height: 4rem;

                h4 {
                    width: 25%;
                    background-color: var(--color-point-light);
                    text-align: center;
                    border-radius: 20px 0 0 20px;
                }

                .selectbox {
                    width: 75%;
                    border-radius: 0 20px 20px 0;
                    background-color: white;
                    .toggle-btn {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        line-height: 4rem;
                        padding: 0 30px;
                        span {
                            font-size: 2rem;
                            font-weight: bold;
                        }
                        figure {
                            width: 2.85rem;
                            height: 2.85rem;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .upicon {
                            display: none;
                        }
                    }
                    .selectbox-option {
                        width: 85%;
                        background-color: white;
                        padding: 1rem 30px;
                        margin-top: 2px;
                        border-radius: 0 0 20px 20px;
                        position: relative;
                        z-index: 999;
                        display: none;
                        li {
                            .option-btn {
                                font-size: 1.8rem;
                                font-weight: bold;
                            }
                            &:last-child .option-btn {
                                padding-top: 1rem;
                                &::after {
                                    content: '';
                                    width: 90%;
                                    height: 1px;
                                    border: 1px #bebebe dashed;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                }
                            }
                        }
                        
                    }

                }
            }

            .alam {
                width: 3.42rem;
                height: 3.42rem;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}




/* --profile -- */
.profile {
    margin: 33px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .profileimg {
        width: 12.5%;
        height: 12.5vw;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .txtbox {
        color: white;
        font-size: 1.75rem;

        h2 {
            margin-bottom: 1rem;
        }

        div {
            height: 2.85rem;
            display: flex;
            gap: 1.42rem;
            line-height: 2.85rem;
            align-items: center;

            ul {
                display: flex;
                gap: 5px;

                li {
                    background-color: #2B54A5;
                    padding: 0 8px;
                    border-radius: 10px;
                }
            }
        }
    }

    .main_btn {
        h2 {
            height: 3.57rem;
            width: 9rem;
            background-color: #2B54A5;
            border-radius: 10px;
            color: white;
            text-align: center;
            line-height: 3.57rem;

            &:first-child {
                margin-bottom: 5px;
            }
        }
    }
}

/* --submenu -- */
.submenu {
    ul {
        background-color: var(--color-point-light);
        border-radius: 20px 20px 0 0;
        display: flex;
        justify-content: space-around;
        padding: 1.43rem 0;

        li {
            width: 5.71rem;
            height: 6.14rem;

            img {
                width: 100%;
                height: 100%;
            }
        }
        .qrcodeimg {
            width: 5rem;
            height: 5rem;
        }
    }
}

/* --mypet -- */
.mypet {
    margin: 15px 0;

    h4 {
        margin-bottom: 15px;
    }

    .pet {
        display: flex;
        gap: 12px;

        .first {
            border: 2px solid var(--color-point);
            padding: 3px;
            border-radius: 50%;
        }

        figure {
            width: 80px;
            height: 80px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .plus {
            background-color: #D9D9D9;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

/* --schedule -- */
.schedule {

    h4 {
        margin-bottom: 15px;
    }

    .datepicker {
        width: 100%;
        box-shadow: 0 0 2px 0 rgba(#000, .2), 0 5px 10px 0 rgba(#000, .1);
        padding: 2.85rem;
        border-radius: 20px;

        .datepicker-top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;
            position: relative;
            color: var(--color-point-text);

            &::after {
                content: '';
                width: 80%;
                height: 1px;
                background-color: #b4b4b4;
                position: absolute;
                top: 70px;
                left: 50%;
                transform: translateX(-50%);
            }

            ul {
                li {
                    font-size: 1.72rem;
                    margin-bottom: 7px;
                    position: relative;

                    &:first-child {
                        &::before {
                            content: '';
                            width: 14px;
                            height: 14px;
                            background: url(../img/icon/진료날.png) center / cover no-repeat;
                            position: absolute;
                            top: 0;
                            left: -15px;
                        }
                    }

                    &:nth-child(2) {
                        &::before {
                            content: '';
                            width: 14px;
                            height: 14px;
                            background: url(../img/icon/접종날.png) center / cover no-repeat;
                            position: absolute;
                            top: 0;
                            left: -15px;
                        }
                    }

                    &:last-child {
                        &::before {
                            content: '';
                            width: 14px;
                            height: 14px;
                            background: url(../img/icon/검진날.png) center / cover no-repeat;
                            position: absolute;
                            top: 0;
                            left: -15px;
                        }
                    }
                }
            }

            .month-selector {
                display: flex;
                justify-content: space-between;
                width: 80%;
                align-items: center;
                position: relative;

                .material-icons {
                    position: absolute;
                    left: -999999px;
                }

                span {
                    font-size: 1.4rem;
                }

                .arrow-left {
                    &::before {
                        content: '';
                        width: 20px;
                        height: 20px;
                        background: url(../img/icon/left.png) center / cover no-repeat;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translate(0, -50%);
                    }
                }

                .arrow-right {
                    &::before {
                        content: '';
                        width: 20px;
                        height: 20px;
                        background: url(../img/icon/right.png) center / cover no-repeat;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translate(0, -50%);
                    }
                }
            }
        }

        .datepicker-calendar {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-row-gap: 2.85rem;

            .day {
                justify-self: center;
                color: #7E818C;
                font-size: 1.43rem;
            }

            .date {
                justify-self: center;
                color: var(--color-point-text);
                font-size: 2rem;
            }

            .faded {
                color: #aaaebd;
            }

            .medical-day {
                background-color: #B8FFBF;
                width: 2.86rem;
                height: 2.86rem;
                border-radius: 50%;
            }

            .vaccination-day {
                background-color: #FFB8F8;
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
            }


        }

    }
}

/* --talktalk -- */
.talktalk {
    margin: 15px 0;

    .cont {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;

        figure {
            max-width: var(--max-width);
            width: calc(100% / 4 - 10px);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px;
            }
        }
    }
}

/* --shelter -- */
.shelter {
    overflow-x: auto;

    p {
        font-size: 1.7rem;
    }

    .cont {
        margin: 15px 0 30px;
        display: flex;
        justify-content: space-between;
        gap: 15px;

        figure {
            margin-bottom: 5px;
            width: 13.57rem;

            img {
                width: 100%;
                height: 100%;
            }
        }

        span {
            display: block;
            text-align: center;
            font-size: 1.42rem;
            line-height: 1.8rem;
            font-weight: 600;
        }
    }
}

/* --banner -- */
.banner {
    max-width: var(--max-width);
    width: 100%;
    margin-bottom: 100px;

    figure {
        height: 33.07vw;
        margin: 10px 0 100px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media screen and (max-width:600px) {

    html,
    body {
        font-size: 56.25%;
    }
}

@media screen and (max-width:500px) {

    html,
    body {
        font-size: 50%;
    }
}

@media screen and (max-width:400px) {

    html,
    body {
        font-size: 43.75%;
    }

    .datepicker {
        .datepicker-top {
            &::after {
                top: 60px;
            }
        }
    }
}