@charset "utf-8";


*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
} 

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    font-weight: normal;
}
h4 {
    font-size: 2.3rem;
    font-weight: bold;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

body {
    line-height: 1;
    color: #333;
    font-family: var(--font);
    font-weight: normal;
    overflow-x: hidden;
}

html,
body {
    font-size: 62.5%;
}